<h1>Reset password instructions</h1>

<p>Hello {{ user_email }}</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p>
    <a href="#?token={{ reset_token }}">Change my password</a>
    (this link is valid until {{ valid_until|date('F jS, H:i') }})
</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>
