<h1>Your password has changed</h1>

<p>Dear {{ username|title }},</p>

<p>This message is to confirm that your Blink-Chat account password has been successfully changed.</p>

<p>If you did not request a password change, please contact us immediately.</p>

<p>Thank you,</p>
<p>The Blink-Chat Team</p>